<h1>Public Login Page</h1>

<form ng-submit="login()" role="form">
    <p>
        <label> Username</label><br/>
        <input type="text" ng-model="username"/>
    </p>

    <p>
        <label> Password</label><br/>
        <input type="password" ng-model="password"/>
    </p>

    <p>
        <label> Remember Me</label><br/>
        <input type="checkbox" ng-model="rememberme"/>
    </p>

    <button ng-click="login">Login</button>
    <br/>

    <span>{{message}}</span>
</form>