body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
  display: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both;
  display: block;
  width: 500px;
  height: 100px;
}

li{
  list-style-type: none;
  float: left;
  padding: 10px;
}