<div>
    <ul>
        <li><a  ui-sref="public.home">Home</a></li>
        <li>
            <a ng-class="{hidden: !isLoggedIn()}" ui-sref="anon.login" id="logoutButton">Logout</a>
            <a ng-class="{hidden: isLoggedIn()}" ui-sref="anon.login">Login</a>
        </li>
        <li>
            <a ng-class="{hidden: !isLoggedIn()}" ui-sref="user.private">Private</a>
        </li>
    </ul>
</div>